* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #1f2937;
    color: #f9faf8;
}

#game-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    height: 100vh;
    flex-direction: column-reverse;
}

#button-container {
    display: flex;
    gap: 1rem;
}

.button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #374151;
    color: #e5e7eb;
    border: 1px solid #374151;
    border-radius: 8px;
}

.button:hover {
    background-color: #4b5563
}

.button.disabled:hover {
    cursor: not-allowed;
    background-color: #374151;
}


.player-selection,
.computer-selection,
.round-winner,
.game-over,
.scoreboard {
    text-align: center;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
}

.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #e5e7eb;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    text-align: center;
    min-width: 250px;
    color: black;
    z-index: 20;
}

.title {
    text-align: center;
    font-size: 40px;
}

.play-again-button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    color: black;
    border: 1px solid white;
    border-radius: 8px;
}

.decision-prompt {
    font-weight: light;
}